div {
    border: 1px rgb(100, 97, 97) solid;
    border-bottom: none;
    box-sizing: border-box;
    text-align: center;
    color: white;
}
#bottomPaddingDiv{
    height: 50px;
    border: none;
}
