#pageTitle{
    background: none;
    width: 90%;
    margin-left: 5%;
    outline: none;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: left;
    font: 12pt Calibri, sans-serif;
}

#mainDiv {
    background: none;
    outline: none;    
    width: 90%;
    margin: auto;
}
#divA {
    height: 15px;
    padding: 30px 0px;
    background-color: rgb(231, 35, 35);
}
#divI {
    height: 20px;
    padding: 30px 0px;
    clear: both;
    background-color: rgb(112, 29, 91);
}
.divCD {
    height: 25px;
    padding: 50px 0px;
    background-color: rgb(237, 240, 96);
}
#divB {
    height: 20px;
    padding: 65px 0px;
    background-color: rgb(245, 114, 39);
}
.halfWidth {
    width: 50%;
    height: 20px;
    padding: 115px 0px;
    float: left;
}
.halfWidthRight {
    width: 50%;
    height: 20px;
    padding: 115px 0px;
    float: left;
}
.halfWidthSection {
    outline: none;
    background: none;
    align-content: center;
}
#bottomPaddingDiv{
    height: 50px;
    outline: none;
    background: none;
}
#divC{
    background-color: yellow;
    color: rgb(78, 32, 32);
}
#divD{
    background-color: limegreen;
}
#divE{
    background-color: rgb(93, 212, 216);
}
#divF {
    background-color: rgb(83, 196, 224);
}
#divG{
    color: white;
    background-color: rgb(22, 22, 172);
}
#divH{
    color: white;
    background-color: rgb(14, 14, 177);
}