#pageTitle{
    background: none;
    width: 90%;
    margin: auto;
    text-align: left;
    font: 12pt Calibri, sans-serif;
    padding: 15px;
}
#mainDiv {
    background: none;
    border: none;
    outline: none;    
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}
#divA {
    height: 15px;
    width: 100%;
    padding: 30px 0px;
    background-color: rgb(231, 35, 35);
}
#divB {
    height: 20px;
    width: 100%;
    padding: 65px 0px;
    background-color: rgb(245, 114, 39);
}
#divC{
    background-color: yellow;
}
#divD{
    background-color: limegreen;
}
.divCD {
    width: 100%;
    height: 25px;
    padding: 50px 0px;
    color: rgb(78, 32, 32);
    background-color: rgb(237, 240, 96);
}
#divE{
    background-color: rgb(93, 212, 216);
    color: rgb(78, 32, 32);
    border-right: none;
}
#divF {
    background-color: rgb(83, 196, 224);
    color: rgb(78, 32, 32);
}
#divG{
    background-color: rgb(22, 22, 172);
    border-right: none;
}
#divH{
    background-color: rgb(14, 14, 177);
}
.halfWidth {
    width: 50%;
    height: 20px;
    padding: 115px 0px;
}
#divI {
    width: 100%;
    height: 20px;
    padding: 30px 0px;
    background-color: rgb(112, 29, 91);
    border-bottom: 1px rgb(100, 97, 97) solid;
}
